body
	background-color: #FFF8DC
img
	min-width: 100%
	height: auto
h3
	padding-top: 1.25em
$color1: rgba(219, 218, 196, 0.7)
$color2: rgba(77, 72, 60, 0.7)
$color3: rgb(191, 226, 230)
$color4: rgb(243, 245, 247)
$color5: rgb(219, 218, 196)
$color6: rgb(62, 142, 78)
$color7: rgb(251, 246, 202)
.browncolor
	color: #1f1206
.greencolor
	color: $color6
.darkbrowncolor
	color: #351E10
.bardcolor
	color:#A52A2A
.lightbrowncolor
	color:#8B7355
.whitecolor
	color: white
.backgroud3
	background-color: $color3
.backgroud4
	background-color: $color4
.backgroud5
	background-color: $color5
.backgroud1
	background-color: $color1
.backgroud6
	background-color: $color6
.size48px
	font-size: 3em
.fontSegoeScript
	font-family: "Segoe Script"
.fontTahoma
	font-family: "Tahoma"
.fontSans
	font-family: "Microsoft Sans Serif"
.size45px
	font-size: 2.75em
.size35px
	font-size: 2.2em
.size32px
	font-size: 2em
.size29px
	font-size: 1.8em
.size26px
	font-size: 1.6em
.size22px
	font-size: 1.4em
.size24px
	font-size: 1.5em
.size20px
	font-size: 1.25em
.size16px
	font-size: 1em
.padding-15
	padding: 10px


//page-title

.container-fluid
	padding: 0
.container-page-title
	background: url(../images/dest/head_fon.png) no-repeat
	height: 756px
	padding: 0
.wrap-page-title-header__logo
	margin-top: 40px
	padding: 0
.page-title-header__logo
	padding: 0
.wrap-page-title-header__menu
	padding: 0
.page-title-header__menu
	background-color: #f17345ff
	border: 7px solid #f17345ff
	border-radius: 5px
	padding: 0
	width: max-content
.page-title-header__logo
	width: max-content
.page-title-content__name
	margin-top: 90px
.title-content
	height: 50px
.page-title-content__meaning
	margin-top: 15px


//block-products
.container-block-product
	padding: 2.45em
.wrap-block-product
	padding: 2.45em
.block-product__name
	padding: 10px
.block-product__name a, .block-product__description a, .block-product__details a
	text-decoration: none
.block-product__details
	background-color: #f17345ff
	border-radius: 3px
	padding: 5px 10px 5px 10px
	margin-top: 10px
	width: max-content
.block-product__details
	&:hover
		background-color: #cc623b
.block-product__details
	a:hover
		color: #eaeaea
.block-product__name, .block-product__description
	a:hover
		color:#86451e

//Pull-out-menu
.icon-close
	padding-top: 15px
.wrap-menu
	position: fixed
	top: 0px
	right: -3055px
	width:  305px
	height: 100%
	background-color: #72161b
	text-align: center
	opacity: .9
	
ul.menu
	margin: 0 
	padding-top: 200px
ul.menu li
	margin: 0
	padding-bottom: 20px
	display: inline-block
ul.menu li a
	color: white
	display: block
	text-decoration: none
	ul
		list-style: none 

ul.menu a:hover
	color: #555 
ul.submenu
	padding: 0
	top: 46px
	left: 314px
	display: none 
ul.submenu > li
	display: block
	padding: 0
ul.submenu > li > a
	display: block
	text-decoration: none
	padding: 5px
	color: white
	font-size: 20px
ul.submenu > li > a:hover
	text-decoration: underline
ul.menu > li:hover > ul.submenu
	display: block
